/* Global Rules */

/* --------------- Uncategorised ---------------- */

p
{
	padding: 0;
	margin: 0;
}

.red
{
	color: #CC0000;
}

.red2
{
	color:red;
}

.blue
{
	color: #000080;
}

.strong
{
	font-weight: bold;
}

.normal
{
	font-weight: normal;
}

.italic
{
	font-style: italic;
}

.underline
{
	text-decoration: underline;
}

.center
{
	text-align: center !important;
}

.justify
{
	text-align: justify !important;
}

.left
{
	text-align: left !important;
}

.right
{
	text-align: right !important;
}

.float-left
{
	float: left !important;
}

.float-right
{
	float: right !important;
}

.tahoma
{
	font-family: Tahoma, Geneva, sans-serif !important;
}

.arial
{
	font-family: Arial, Helvetica, sans-serif;
}

.verdana
{
	font-family: Verdana, Geneva, sans-serif;
}

.lh-150-percent
{
	line-height: 150%;
}

/* --------------- Font Sizes ---------------- */

.size-10px
{
	font-size: 10px !important;
}

.size-11px
{
	font-size: 11px !important;
}

.size-12px
{
	font-size: 12px !important;
}

.size-13px
{
	font-size: 13px !important;
}

.size-14px
{
	font-size: 14px !important;
}

.size-15px
{
	font-size: 15px !important;
}

.size-16px
{
	font-size: 16px !important;
}

.size-18px
{
	font-size: 18px !important;
}

.size-19px
{
	font-size: 19px !important;
}

.size-20px
{
	font-size: 20px !important;
}

.size-21px
{
	font-size: 21px !important;
}

.size-22px
{
	font-size: 22px !important;
}

.size-24px
{
	font-size: 24px !important;
}

.size-25px
{
	font-size: 25px !important;
}

.size-26px
{
	font-size: 26px !important;
}

.size-27px
{
	font-size: 27px !important;
}

.size-28px
{
	font-size: 28px !important;
}

.size-29px
{
	font-size: 29px !important;
}

.size-30px
{
	font-size: 30px !important;
}

.size-32px
{
	font-size: 32px !important;
}

.size-34px
{
	font-size: 34px !important;
}

.size-36px
{
	font-size: 36px !important;
}

.size-38px
{
	font-size: 38px !important;
}

.size-40px
{
	font-size: 40px !important;
}.size-42px

{
	font-size: 42px !important;
}










/* --------------- Paddings ---------------- */

.p0
{
	padding: 0px !important;
}

.p5
{
	padding: 5px !important;
}

.p10
{
	padding: 10px !important;
}

.p15
{
	padding: 15px !important;
}

.p20
{
	padding: 20px !important;
}

.p30
{
	padding: 30px !important;
}

.p40
{
	padding: 40px !important;
}

.p50
{
	padding: 50px !important;
}

.pv0
{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.pv5
{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.pv10
{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.pv15
{
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

.pv20
{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.pv30
{
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.pv40
{
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}

.pv50
{
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.ph0
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.ph5
{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.ph10
{
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.ph15
{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.ph20
{
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.ph30
{
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.ph40
{
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.ph50
{
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.ph60
{
	padding-left: 60px !important;
	padding-right: 60px !important;
}

.ph70
{
	padding-left: 70px !important;
	padding-right: 70px !important;
}

.ph80
{
	padding-left: 80px !important;
	padding-right: 80px !important;
}

.ph90
{
	padding-left: 90px !important;
	padding-right: 90px !important;
}

.ph100
{
	padding-left: 100px !important;
	padding-right: 100px !important;
}

.pl0
{
	padding-left: 0px !important;
}

.pl5
{
	padding-left: 5px !important;
}

.pl10
{
	padding-left: 10px !important;
}

.pl15
{
	padding-left: 15px !important;
}

.pl20
{
	padding-left: 20px !important;
}

.pl25
{
	padding-left: 25px !important;
}

.pl30
{
	padding-left: 30px !important;
}

.pl40
{
	padding-left: 40px !important;
}

.pl50
{
	padding-left: 50px !important;
}

.pr0
{
	padding-right: 0px !important;
}

.pr5
{
	padding-right: 5px !important;
}

.pr10
{
	padding-right: 10px !important;
}

.pr15
{
	padding-right: 15px !important;
}

.pr20
{
	padding-right: 20px !important;
}

.pr30
{
	padding-right: 30px !important;
}

.pr40
{
	padding-right: 40px !important;
}

.pr50
{
	padding-right: 50px !important;
}

.pt0
{
	padding-top: 0px !important;
}

.pt5
{
	padding-top: 5px !important;
}

.pt10
{
	padding-top: 10px !important;
}

.pt15
{
	padding-top: 15px !important;
}

.pt20
{
	padding-top: 20px !important;
}

.pt30
{
	padding-top: 30px !important;
}

.pt40
{
	padding-top: 40px !important;
}

.pt50
{
	padding-top: 50px !important;
}

.pb0
{
	padding-bottom: 0px !important;
}

.pb5
{
	padding-bottom: 5px !important;
}

.pb10
{
	padding-bottom: 10px !important;
}

.pb15
{
	padding-bottom: 15px !important;
}

.pb20
{
	padding-bottom: 20px !important;
}

.pb30
{
	padding-bottom: 30px !important;
}

.pb40
{
	padding-bottom: 40px !important;
}

.pb50
{
	padding-bottom: 50px !important;
}
/* --------------- Spaces ---------------- */

div.space-2px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 2px;
}

div.space-3px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 3px;
}

div.space-5px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 5px;
}

div.space-7px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 7px;
}

div.space-10px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 10px;
}

div.space-15px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 15px;
}

div.space-20px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 20px;
}

div.space-25px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 25px;
}

div.space-30px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 30px;
}

div.space-35px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 35px;
}

div.space-40px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 40px;
}

div.space-50px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 50px;
}

div.space-60px
{
	padding: 0;
	margin: 0;
	font-size: 0px;
	height: 60px;
}

div.vspace-left-5px
{
	padding: 0;
	margin: 0;
	font-size: 5px;
	width: 5px;
	float: left;
	overflow: hidden;
}

div.vspace-left-10px
{
	padding: 0;
	margin: 0;
	font-size: 10px;
	width: 10px;
	float: left;
	overflow: hidden;
}

div.vspace-left-15px
{
	padding: 0;
	margin: 0;
	font-size: 15px;
	width: 15px;
	float: left;
	overflow: hidden;
}

div.vspace-left-20px
{
	padding: 0;
	margin: 0;
	font-size: 20px;
	width: 20px;
	float: left;
	overflow: hidden;
}

/* ------------------ Round ------------------- */

.round1px
{
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.round2px
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.round3px
{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.round4px
{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.round5px
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.round10px
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}