body 
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: #051012 url( /images/background2.jpg ) repeat-x top left;
	color: #000;
}

div#wrapper
{
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

div#content
{
	margin: 0 auto;
	padding: 0 6px;
	width: 949px;
	background: url( /images/content_backgr.jpg ) repeat-y top left;
}

div#content-bottom
{
	margin: 0 auto;
	padding: 0 6px;
	width: 949px;
	background: url( /images/content_backgr.jpg ) repeat-y top left;
}

br.cleaner
{
	clear: both;
}

div.cleaner
{
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 0px; 
	height: 0;
	overflow: hidden;
}

.transparent
{
	behavior: url(/iepngfix/iepngfix.htc);
}

h1
{
	margin: 0;
	padding: 20px;
	font-size: 24px;
	color: #071b25;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

/* ------------------ Header ------------------- */

div#header
{
	padding: 0;
	background: transparent url( /images/header_backgr.jpg ) no-repeat center 41px;
	width: 100%;
	height: 399px;
}

div#header div.content
{
	padding: 0;
	margin: 0 auto;
	width: 961px;
	height: 358px;
}

div.main-menu
{
	padding: 0 0 0 0;
	margin: 0;
	text-align: center;
}

div.main-menu a
{
	padding: 4px 15px 3px 15px;
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

div.main-menu a:hover
{
	color: #101c42;
	background-color: #fff;
}

div.main-menu a.selected
{
	color: #101c42;
	background-color: #fff;
}

/* ------------------ Top Login Block ------------------- */

div#header div.top-login-block
{
	width: 961px;
	height: 44px;
	margin: 0 auto;
	background: url(/images/top_login_backgr.png) bottom left no-repeat;
	position: relative;
	padding: 0 0 0 0;
}

div#header div.top-login-block img.logo
{
	position: absolute;
	top: 8px;
	left: 23px;
}

div#header div.top-login-block input.login-form-input-small
{
	width: 121px;
	height: 11px;
	border: 1px solid #071b25;
	margin: 0;
	padding: 7px 5px 5px 5px;
	background: url(/images/input_backgr_small.png) top left no-repeat;
	color: #002339;
	font-size: 11px;
	line-height: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

a.link
{
	color: #06293d;
	font-size: 11px;
	text-decoration: none;
}

a.link:hover
{
	text-decoration: underline;
}

/* ------------------ Footer ------------------- */

div#footer
{
	padding: 0;
	margin: 0 auto;
	text-align: center;
	color: #818585;
	font-size: 12px;
	background: transparent url( /images/footer_backgr.jpg ) no-repeat top left;
	width: 961px;
	height: 168px;
}

div#footer a
{
	color: #808787;
	text-decoration: none;
}

/* ------------------ Page Titles ------------------- */

div.page-title
{
	padding: 10px 0 0 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 36px;
	color: #cd0000;
	font-weight: bold;
	text-align: center;
}

div.page-summary
{
	padding: 10px 0 0 0;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	color: #383a3e;
	text-align: center;
}

/* --------------- 404 NOT FOUND ---------------- */

div.not-found
{
	padding: 40px 10px;
	margin: 0 auto;
	width: 750px;
}

div.not-found div.not-found-img
{
	padding: 20px 20px 0 50px;
	margin: 0;
	width: 128px;
	float: left;
}

div.not-found div.not-found-text
{
	width: 500px;
	font-size: 12px;
	float: left;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px 0 0 20px;
	margin: 0;
}

div.not-found div.not-found-text div.title
{
	padding: 0;
	margin: 0;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: #003434;
	font-family: Arial, Helvetica, sans-serif;
}

div.not-found div.links
{
	color: #222;
	font-size: 14px;
	font-weight: bold;
}

div.not-found div.links a
{
	color: #000080;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

div.not-found div.not-found-text li
{
	list-style: square;
	font-size: 12px;
	padding: 1px 0;
}

/* ------------------ Forms ------------------- */

div.form
{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

div.form div.label
{
	padding: 10px 10px 0 0;
	margin: 0;
	float: left;
	text-align: right;
	font-size: 14px;
	color: #071b25;
}

div.form div.field
{
	padding: 5px 0;
	margin: 0;
	float: left;
}

div.form div.button
{
	padding: 10px 0;
	margin: 0;
	text-align: center;
}

span.star
{
	color: #be0000;
	font-size: 14px;
	font-weight: bold;
	font-family: verdana;
}

input.box
{
	padding: 5px 5px;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	border: 1px solid #071b25;
}

textarea.box
{
	padding: 5px 5px;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}

form
{
	padding: 0;
	margin: 0;
}

/* ------------------ Form Small Box ------------------- */

div.form-small-box
{
	padding: 0;
	margin: 0 auto;
	width: 500px;
	color: #000;
}

div.form-small-box .top
{
	padding: 0;
	margin: 0;
	width: 500px;
	height: 54px;
	overflow: hidden;
}

div.form-small-box .bottom
{
	padding: 0;
	margin: 0;
	width: 500px;
	height: 40px;
	overflow: hidden;
	background: transparent url( /images/small_form_bottom.jpg ) repeat-y top left;
}

div.form-small-box .content
{
	padding: 0 30px;
	margin: 0;
	width: 440px;
	background-color: #c7cbce;
}

/* --------------- FAQ ---------------- */

div.faq-block
{
	padding: 0;
	margin: 0;
}

div.faq-block div.question
{
	padding: 15px 0 5px 30px;
	margin: 0;
	font-size: 16px;
	color: #003434;
	font-weight: bold;
	background: url( /images/q.png ) no-repeat 0px 13px;
}

div.faq-block div.answer
{
	padding: 10px 0 15px 0px;
	margin: 0;
	font-size: 14px;
	color: #333;
	text-align: justify;
	/*background: url( /images/a.png ) no-repeat top left;*/
}

/* ------------------ Affiliates ------------------- */

div.affiliates
{
	padding: 20px 100px;
	margin: 0;
}

/* ------------------ Home ------------------- */

div.home
{
	padding: 20px 100px;
	margin: 0;
}

/* ------------------ Terms ------------------- */

div.terms
{
	padding: 20px 100px;
	margin: 0;
}

div.terms p
{
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
	line-height: 150%;
}

/* ------------------ Download Box ------------------- */

div.download-box
{
	padding: 0;
	margin: 0 auto;
	width: 500px;
	background-color: #6797d9;
}

div.download-box div.title
{
	padding: 5px 10px;
	margin: 0;
	background-color: #173e81;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

/* ------------------ Risk ------------------- */

div.risk
{
	font-size: 10px;
	margin: 0 auto;
	padding: 0;
	width: 740px;
	text-align: justify;
}

/* ------------------ Money Back Guarantee ------------------- */

div.money-back-guarantee
{
	padding: 0;
	margin: 0 auto;
	width: 495px;
	color: #333;
}

div.money-back-guarantee .top
{
	padding: 0;
	margin: 0;
	width: 495px;
	height: 227px;
}

div.money-back-guarantee .bottom
{
	padding: 0;
	margin: 0;
	width: 495px;
	height: 147px;
}

div.money-back-guarantee .content
{
	padding: 0 70px;
	margin: 0;
	width: 355px;
	background: transparent url( /images/money_back_backgr.jpg ) repeat-y top left;
}

/* ------------------ Testimonial ------------------- */

div.testimonial
{
	padding: 0;
	margin: 0 auto;
	width: 560px;
	color: #333;
}

div.testimonial .top
{
	padding: 0;
	margin: 0;
	width: 560px;
	height: 85px;
}

div.testimonial .bottom
{
	padding: 0;
	margin: 0;
	width: 560px;
	height: 44px;
}

div.testimonial .content
{
	padding: 0 50px;
	margin: 0;
	width: 460px;
	background: transparent url( /images/testimonial_backgr.jpg ) repeat-y top left;
}

/* ------------------ Bottom Menu ------------------- */

div.bottom-menu
{
	padding: 20px 0;
	margin: 0;
	text-align: center;
	font-size: 14px;
}

div.bottom-menu a
{
	padding: 0 10px;
	margin: 0;
	text-transform: uppercase;
	color: #071b25;
	font-weight: bold;
}

/* ------------------ Live Test Block ------------------- */

div.live-test-block
{
	padding: 0;
	margin: 0 auto;
	width: 784px;
}

div.live-test-block div.top
{
	padding: 0;
	margin: 0;
	width: 784px;
	height: 115px;
}

div.live-test-block div.bottom
{
	padding: 0;
	margin: 0;
	width: 784px;
	height: 95px;
}

div.live-test-block div.content
{
	padding: 6px;
	margin: 0;
	width: 772px;
	background: url(/images/live_test_backgr.jpg) repeat-y top left;
}

/* ------------------ Features Block ------------------- */

div.features-block
{
	padding: 0;
	margin: 0 auto;
	width: 711px;
	background: url(/images/features_backgr.jpg) repeat-y top left;
}

div.features-block div.bottom
{
	padding: 0;
	margin: 0;
	width: 711px;
	height: 55px;
	background: url(/images/features_bottom.jpg) repeat-y top left;
}

div.features-block div.content
{
	padding: 190px 0 0 0;
	margin: 0;
	width: 711px;
	background: url(/images/features_top.jpg) no-repeat top left;
}

div.features-block div.content div.line
{
	padding: 8px 0 8px 95px;
	margin: 0 auto;
	width: 560px;
	border-bottom: 1px solid #cccccc;
	font-size: 17px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background: url(/images/features_icon.png) no-repeat 55px 7px;
}

/* ------------------ Time Counter ------------------- */

div.time-counter
{
	padding: 0;
	margin: 0 auto;
	width: 728px;
	height: 230px;
	background: url(/images/counter_backgr.png) no-repeat top left;
}

div.time-counter div.days
{
	padding: 38px 0 0 40px;
	margin: 0;
	float: left;
	font-size: 90px;
	letter-spacing: 26px;
}

div.time-counter div.hours
{
	padding: 38px 0 0 24px;
	margin: 0;
	float: left;
	font-size: 90px;
	letter-spacing: 26px;
}

div.time-counter div.minutes
{
	padding: 38px 0 0 24px;
	margin: 0;
	float: left;
	font-size: 90px;
	letter-spacing: 26px;
}

div.time-counter div.seconds
{
	padding: 38px 0 0 24px;
	margin: 0;
	float: left;
	font-size: 90px;
	letter-spacing: 26px;
}

/* ------------------ Count Down ------------------- */
div.count-down
{
	padding: 22px 0 0 0;
	margin: 0;
	background: url(/images/count_down_backgr.gif) no-repeat center center;
	height: 44px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

/* ------------------ Add to Cart ------------------- */

div.add-to-cart-block
{
	position: relative;
	width: 640px;
	height: 520px;
	margin: 40px auto;
	border: 2px dashed #999999;
}

div.add-to-cart-block div.opacity-block
{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 640px;
	height: 520px;
	background-color: #FFFFFF;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity:0.70;
	-khtml-opacity: 0.70;
	opacity: 0.70;
}

div.add-to-cart-block div.warning-block
{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 640px;
	height: 500px;
}

/* ------------------ Member area ------------------- */

ul.manual-download-list
{
	padding: 0;
	margin: 0;
}

ul.manual-download-list li
{
	padding: 5px 0 5px 20px;
	margin: 0;
	list-style: square inside;
	font-size: 14px;
}
