<div class="container floated">
    <!-- Sidebar -->
	<div class="four floated sidebar left">
		<aside class="sidebar">

			<!-- Search -->
			<nav class="widget-search">
				<form action="" method="get">
					<button class="search-btn-widget"></button>
					<input name="keyword" class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search" />
				</form>
			</nav>
			<div class="clearfix"></div>

			<!-- Categories -->
			<nav class="widget">
				<h4>Категории</h4>
				<ul class="categories">
					{$categories_list}
				</ul>
			</nav>

			<!-- Products -->
			<div class="widget">
				<h4>Последни 5 добавени оферти</h4>
				<ul class="categories">
					{$products_list}
				</ul>
			</div>

			<!-- Tweets-->
			<div class="widget">
				<h4>Twitter</h4>
				<ul id="twitter-blog"></ul>
					<script type="text/javascript">
						jQuery(document).ready(function($){
						$.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
							$("#twitter-blog").html(tz_format_twitter(tweets));
						}); });
					</script>
				<div class="clearfix"></div>
			</div>
		</aside>
	</div>
	<!-- Sidebar / End -->
	<!-- Page Content -->
	<div class="eleven floated right">
		<div class="shop-page page-content">
			<div>{if isset($item_text) && $item_text != ''}{$item_text}{else}
                            {foreach from=$products key=index item=product}
				<div class="product-info">	
                                    <!-- <h3 class="title">{$item_title}</h3> -->
                                        <a href="/product/{$product.id}/{$product.url}"><h3>{$product.title}</h3></a>
                                        <i class="icon-folder-open"></i> Категории:
                                        {foreach from=$product.categories key=index item=option}
                                        {append var="categories_pieces" value = '<a href="/category/'|cat:$option.id|cat:'/" title="'|cat:$option.meta_title|cat:'">'|cat:$option.name|cat:'</a>'}
                                        {/foreach}
                                        {', '|implode:$categories_pieces}
                                        {assign var="categories_pieces" value=""}
                                        <p>
                                            <img class="image-left" src="{if isset($product.image)}{$product.image}{else}../../theme/images/portfolio/portfolio-02.jpg{/if}" style="width: 45%;" alt="" hspace="10" vspace="10" align="left" />
                                            {$product.short_description}
                                        </p>
                                        <div class="clearfix"></div>
                                        <p style="width:100%;">	
                                        <center>
                                            {foreach from=$product.options key=index item=option}
                                            <h2 class="option_text_1">{$option.title} ({$option.description}) with {$option.discount}% discount</h2>
                                            <span class="option_text_2">Цена: <s style="color:red;">{$option.old_price}</s> {$option.price}</span>
                                            <span class="option_text_3">Код за отстъпка: {$option.coupon}</span>
                                            <div class="clearfix"></div>
                                            <!-- <a href="{$option.buy_url}" class="button color">Buy Now</a> -->
                                            <a href="{$option.visit_url}" class="button color">Преглед</a>
                                            <div class="clearfix"></div>
                                            <span class="option_text_2">Save: {$option.old_price-$option.price}</span>
                                            <br />
                                            {/foreach}
                                        </center>
                                        </p>
				</div>
                            <div class="clearfix"></div>
                            <div class="line" style="margin-top: 20px; margin-bottom: 30px;"></div>
                            {/foreach}
                            {/if}
			</div>
			
			<div class="clearfix"></div>
			<br />
			<!--
			<div class="eleven columns">
				
				<ul class="tabs-nav">
					<li class="active"><a href="#tab1">Description</a></li>
					<li><a href="#tab2">Additional Information</a></li>
				</ul>

				
				<div class="tabs-container">
					<div class="tab-content" id="tab1">
						{$item_text}
					</div>

					<div class="tab-content" id="tab2">
						<table class="standard-table shop">

							<tr>
								<th>Length</th>
								<td>18cm</td>
							</tr>

							<tr>
								<th>Width</th>
								<td>13cm</td>
							</tr>

							<tr>
								<th>Height</th>
								<td>12cm</td>
							</tr>
							
							<tr>
								<th>Color</th>
								<td>Black</td>
							</tr>
							
							<tr>
								<th>Multiselect Attributes</th>
								<td>Camera Lenses, SRL Cameras</td>
							</tr>

						</table>
					</div>

				</div>
			</div>
                        
			<div class="clearfix"></div>
			<div class="line" style="margin-top: 20px; margin-bottom: 30px;"></div>
			
			-->
			<div class="clearfix"></div>
			<div style="margin-top: -10px;"></div>
	
		</div>
	</div>
	<!-- Page Content / End -->
</div>
<!-- 960 Container / End -->