<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>{if isset( $page_title ) && strlen( $page_title ) > 0}{$page_title}{else}Полезно в България!{/if}</title>
<meta name="description" content="{if isset( $page_description ) && strlen( $page_description ) > 0}{$page_description}{else}Automated Forex Tools - www.bestdiscountshere.com{/if}" />
<meta name="keywords" content="{if isset( $page_keywords ) && strlen( $page_keywords ) > 0}{$page_keywords}{else}Automated Forex Tools - www.bestdiscountshere.com{/if}" />
<meta name="Author" content="Jessy" />
	
{$flash_message}

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="../../theme/css/style.css">
<link rel="stylesheet" href="../../theme/css/colors/blue.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Java Script
================================================== -->
<script src="../../theme/scripts/jquery.min.js"></script>
<script src="../../theme/scripts/jquery.flexslider.js"></script>
<script src="../../theme/scripts/jquery.selectnav.js"></script>
<script src="../../theme/scripts/jquery.twitter.js"></script>
<script src="../../theme/scripts/jquery.modernizr.js"></script>
<script src="../../theme/scripts/jquery.easing.1.3.js"></script>
<script src="../../theme/scripts/jquery.contact.js"></script>
<script src="../../theme/scripts/jquery.isotope.min.js"></script>
<script src="../../theme/scripts/jquery.jcarousel.js"></script>
<script src="../../theme/scripts/jquery.fancybox.min.js"></script>
<script src="../../theme/scripts/jquery.layerslider.min.js"></script>
<script src="../../theme/scripts/jquery.shop.js"></script>
<script src="../../theme/scripts/custom.js"></script>

</head>
