<!-- 960 Container -->
<div class="container floated">
	<!-- Sidebar -->
	<div class="four floated sidebar left">
		<aside class="sidebar">

			<!-- Search -->
			<nav class="widget-search">
				<form action="" method="get">
					<button class="search-btn-widget"></button><button class="btn" type="submit">Search</button>
					<input name="keyword" class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search" />
				</form>
			</nav>
			<div class="clearfix"></div>

			<!-- Categories -->
			<nav class="widget">
				<h4>Categories</h4>
				<ul class="categories">
					{$categories_list}
				</ul>
			</nav>

			<!-- Products -->
			<div class="widget">
				<h4>Last 5 added discounts</h4>
				<ul class="categories">
					{$products_list}
				</ul>
			</div>

			<!-- Tweets-->
			<div class="widget">
				<h4>Twitter</h4>
				<ul id="twitter-blog"></ul>
					<script type="text/javascript">
						jQuery(document).ready(function($){
						$.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
							$("#twitter-blog").html(tz_format_twitter(tweets));
						}); });
					</script>
				<div class="clearfix"></div>
			</div>
		</aside>
	</div>
	<!-- Sidebar / End -->

	<!-- Page Content -->
	<div class="eleven floated right">
		<div class="page-content">

			<h3 class="margin-reset">{$item_title}</h3><br />
			{$item_text}
                        
		</div>
	</div>
	<!-- Page Content / End -->

</div>
<!-- 960 Container / End -->

