<div class="container floated">
<!-- Sidebar -->
	<div class="four floated sidebar left">
		<aside class="sidebar">

			<!-- Search -->
			<nav class="widget-search">
				<form action="" method="get">
					<button class="search-btn-widget"></button>
					<input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search" />
				</form>
			</nav>
			<div class="clearfix"></div>

			<!-- Categories -->
			<nav class="widget">
				<h4>Категории</h4>
				<ul class="categories">
					{$categories_list}
				</ul>
			</nav>

			<!-- Products -->
			<div class="widget">
				<h4>Последни 5 добавени оферти</h4>
				<ul class="categories">
					{$products_list}
				</ul>
			</div>

			<!-- Tweets-->
			<div class="widget">
				<h4>Twitter</h4>
				<ul id="twitter-blog"></ul>
					<script type="text/javascript">
						jQuery(document).ready(function($){
						$.getJSON('twitter.php?url='+encodeURIComponent('statuses/user_timeline.json?screen_name=Vasterad&count=2'), function(tweets){
							$("#twitter-blog").html(tz_format_twitter(tweets));
						}); });
					</script>
				<div class="clearfix"></div>
			</div>
		</aside>
	</div>
	<!-- Sidebar / End -->
        <div class="eleven floated right">
            <div class="shop-page page-content">
	
		<div class="row">
			<div class="span1" style="margin: 0;">&nbsp;</div>
			<div class="span7">
				<div class="page-not-found-main">
					<h2>404 <i class="icon-file"></i></h2>
					<p>Тази страница я няма</p>
					<p>Най-вероятно тя е преместена, или изобщо липсва.</p>
					<p>Ако проблема продължава <a href="{base_url()}contact-us" title="Contact us">пишете ни</a></p>
				</div>
			</div>
			<div class="span4">
				<h4>Някои полезни линкове</h4>
				<ul class="nav nav-list primary">
					<li><a href="{base_url()}">Начало</a></li>
					<li><a href="{base_url()}about-us">За нас</a></li>
					<li><a href="{base_url()}frequently-asked-questions">Ч.З.В.</a></li>
					<li><a href="{base_url()}Sitemap">Карта на сайта</a></li>
					<li><a href="{base_url()}contact-us">Контакт</a></li>
				</ul>
                                <br>
			</div>
		</div>
	
</div></div>
</div>
