{if isset($action) && $action == "success"}

	<div class="pv20 ph30">
		{if isset($is_affiliate) && $is_affiliate}
			<p class="lh-150-percent  center size-14px">
				<strong>Thank you for deciding to become our affiliate!</strong><br /><br />
				After completing only one more step, you will be a full member.<br />
				Please confirm your subscription by clicking the link we sent to your email address.<br />
				Once you confirm, you will have an access to the affiliate resourses page.
			</p>
		{else}
			<p class="lh-150-percent  center size-14px">
				<strong>Thank you for deciding to become our subscriber!</strong><br /><br />
				After completing only one more step, you will be a full subscriber.<br />
				Please confirm your subscription by clicking the link we sent to your email address.<br />
				Once you confirm, you will be able to receive news about Best Discounts Here's updates and promotions.
			</p>
		{/if}
	<div class="space-50px"></div>
	</div>

{elseif isset($action) && $action == "confirm"}

	<div class="pv20 ph30">
		
		{if isset($is_affiliate) && $is_affiliate}
			<div class="lh-150-percent center size-14px">
				<strong>Thank you for becoming our subscriber!</strong><br /><br />
				We will keep you informed for any news, updates and promotions on Best Discounts Here.<br />
				We will not use your email address to send you any unwanted messages.<br /><br />
				Please do not unsubscribe!<br />
				Otherwise, we will not be able to inform you for all about Best Discounts Here.<br /><br />
				Thank you for staying with us.				
				<br /><br />	
				After 10 seconds you will be redirected to the affiliate resources page.
				<br /><br />
				<div class="count-down"></div>
				<script type="text/javascript" language="javascript">
					$(document).ready(function() {
						count_down_redirect(10, '/affiliates/resources');
					});
				</script>
			</div>
		{else}
			<div class="lh-150-percent center size-14px">
				<strong>Thank you for becoming our subscriber!</strong><br /><br />
				We will keep you informed for any news, updates and promotions on Best Discounts Here.<br />
				We will not use your email address to send you any unwanted messages.<br /><br />
				Please do not unsubscribe!<br />
				Otherwise, we will not be able to inform you for all about Best Discounts Here.<br /><br />
				Thank you for staying with us.
				<br /><br />	
				After 10 seconds you will be redirected to the home page.
				<br /><br />
				<div class="count-down"></div>
				<script type="text/javascript" language="javascript">
					$(document).ready(function() {
						count_down_redirect(10, '/affiliates/resources');
					});
				</script>
			</div>
		{/if}
		<div class="space-50px"></div>
	</div>

{elseif isset($action) && $action == "alreadysubscribed"}

	<div class="pv20 ph30">
	
		{if isset($is_affiliate) && $is_affiliate}
			<div class="lh-150-percent center size-14px">
				<strong>You are already subscribed.</strong><br /><br />				
				Until your subscription is active you will be informed for any news, updates and promotions about Best Discounts Here.<br /><br /> 
				We will not use your email address to send you any unwanted messages.<br /><br />
				Thank you for staying with us.
				<br /><br />	
				After 10 seconds you will be redirected to the affiliate resources page.
				<br /><br />
				<div class="count-down"></div>
				<script type="text/javascript" language="javascript">
					$(document).ready(function() {
						count_down_redirect(10, '/affiliates/resources');
					});
				</script>
			</div> 
		{else}
			<div class="lh-150-percent center size-14px">
				<strong>You are already subscribed.</strong><br /><br />				
				Until your subscription is active you will be informed for any news, updates and promotions about Best Discounts Here.<br /><br /> 
				We will not use your email address to send you any unwanted messages.<br /><br />
				Thank you for staying with us.
				<br /><br />	
				After 10 seconds you will be redirected to the home page.
				<br /><br />
				<div class="count-down"></div>
				<script type="text/javascript" language="javascript">
					$(document).ready(function() {
						count_down_redirect(10, '/');
					});
				</script>
			</div> 
		{/if}
		<div class="space-50px"></div>
	</div>

{/if}