<div style="width: 740px; margin: 0 auto;" class="center">
	<h1>Unsubscribe</h1>
	
	<p class="size-16px pv5 center lh-150-percent">
	{if $action == "email_does_not_exist"}
		Email address not found in database! If you still wish to unsubscribe, please <a href="/contact-us" title="Contact us">contact us</a> for assistance.
	{elseif $action == "incorrect_data"}
		Dear customer, unfortunately you were not able to unsubscribe successfully from our newsletters. The reason for this is either missing or incorect data in your request. If you still wish to unsubscribe, please <a href="/contact-us" title="Contact us">contact us</a> for assistance.
	{elseif $action == "missing_data"}
		Dear customer, unfortunately you were not able to unsubscribe successfully from our newsletters. The reason for this is either missing or incorect data in your request. If you still wish to unsubscribe, please <a href="/contact-us" title="Contact us">contact us</a> for assistance.
	{elseif $action == "success"}
		You have managed to unsubscribe successfully from our newsletter!
	{/if}
	</p>
	
	{if $action == "success"}
		
		<script type="text/javascript">
			$(document).ready(function() {
				count_down_redirect(10, '/');
			});
		</script>
		
		<p class="size-14px center">You will be redirected to our home page in 10 seconds.</p>
		<div class="space-20px"></div>
		<div class="count-down"></div>
		
	{/if}
	
	<div class="space-50px"></div>
	<div class="space-50px"></div>
	<div class="space-50px"></div>
	
</div>