{if isset($action) && ($action == "show_all" || $action == "inactive_customers" || $action == "administrators")}

    <ul class="nav nav-tabs">
		<li {if $action == "show_all"}class="active"{/if}><a href="/admin/categories/show_all">Преглед на активните</a></li>
		<li><a href="/admin/categories/add">Добави нова категория</a></li>
    </ul>
	
	{if $action == "show_all"}
		<h1 class="pull-left">Преглед на активните</h1>
	{/if}
	
	<div class="input-append pull-right" style="padding-top: 15px;">
		<form action="/admin/categories/{$action}" method="get" style="margin: 0;">
			<input class="input-medium" id="appendedInputButtons" size="16" type="text" name="keyword" value="{if isset($keyword) && $keyword}{$keyword}{/if}"><button class="btn" type="submit">Търсене</button>
		</form>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
			<th class="w25px center">#</th>
			<th class="center">Име</th>
			<th class="w140px center">Добавена на</th>
                        <th class="w140px center">Модифицирана на </th>
			<th class="w160px center">&nbsp;</th>
			</tr>
		</thead>
	
		<tbody>
		
		{if isset($categories) && $categories}
			{assign var="categories_cnt" value=$num_categories}
			{foreach from=$categories key=index item=category}
				<tr id="row_category_{$category.id}" {if $category.status == 0}class="error"{elseif date('Y-m-d') == $category.published|date_format:"%Y-%m-%d"}class="success"{/if}>
                                
					<td class="center">{$categories_cnt-$offset}</td>
					<td>{$category.name}</td>
					<td class="center">{$category.published}</td>
                                        <td class="center">{if $category.modified == ""} - {else} {$category.modified} {/if}</td>
					<td class="right" style="width:200px;">
						<button class="btn btn-small btn-info" type="button"onclick="window.location = '/admin/categories/edit/{$category.id}';"><i class="icon-edit icon-white"></i> Промени</button>&nbsp;&nbsp;
						<button class="btn btn-small btn-danger" type="button" onclick="delete_category('{$category.id}');"><i class="icon-remove icon-white"></i> Изтрий</button>
                                        </td>
				</tr>
				{assign var="categories_cnt" value=$categories_cnt-1}
			{/foreach}
		{else}
			<tr>
				<td colspan="5">Няма резултат!</td>
			</tr>
		{/if}
			
		</tbody>
	</table>
	
	
	{literal}
	<script type="text/javascript" language="javascript">
	
		$(document).ready(function() {

			$('i.user-comment').tooltip({placement: "right"});
		});
		
	</script>
	{/literal}

	{$navigator}

	{*<div class="pagination pagination-centered">
		<ul>
			<li class="previous"><a href="#">&larr; Първа</a></li>
			<li><a href="#">«</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">»</a></li>
			<li class="next"><a href="#">Последна &rarr;</a></li>
		</ul>
	</div>*}

{elseif isset($action) && $action == "edit"}

	<ul class="nav nav-tabs">
		<li><a href="/admin/categories/show_all">Преглед на всички активни</a></li>
		<li><a href="/admin/categories/add">Добави нова категория</a></li>
    </ul>
		
	<form action="/admin/categories/edit/{$category.id}" method="post" style="margin: 0;">
		<input type="hidden" name="save" value="1" />		
		<legend>Category {$category.name|escape}</legend>
		
		{if isset($alert_message) && $alert_message}{$alert_message}{/if}
		
		<div class="clearfix">
			<div class="pull-left" style="">
				<label>Име:</label>
				<input type="text" name="name" style="width: 350px;" value="{if isset($data)}{$data.name|escape}{else}{$category.name|escape}{/if}" />
				<!--
                                <label>Status:</label>
                                
                                <label class="radio inline">
					<input type="radio" name="status" value="1" {if isset($data)}{if $data.status == 1}checked="checked"{/if}{elseif !isset($data)}checked="checked"{/if} /> Active
				</label>
				
                                <label class="radio inline">
					<input type="radio" name="status" value="0" {if isset($data) && $data.status == 0}checked="checked"{/if} /> Suspend
				</label> -->
                               
                                <label class="clearfix">
					Статус: 
					<span class="pull-right">
						{if $category.status == 1}<span class="label label-success" id="category_status">Active</span>{else}<span class="label label-important" id="category_status">Inactive</span>{/if} 
						<button type="button" class="btn btn-small btn-info" onclick="changeCategoryStatus('{$category.id}');"><i class="icon-refresh icon-white"></i> Change</button>
					</span>
				</label>
                                
                                <br /><br />
				<label class="clearfix">Създадена: <span class="label label-info pull-right">{$category.published}</span></label>
				<label class="clearfix">Модифицирана: <span class="label pull-right">{if $category.modified}{$category.modified}{else}no info{/if}</span></label>
				
                                
			</div>
			<div class="pull-left" style="margin-left: 30px; width: 370px;">
                                <label>Meta title:</label>
				<input type="text" name="meta_title" style="width: 350px;" value="{if isset($data)}{$data.meta_title|escape}{else}{$category.meta_title|escape}{/if}" />
				<label>Meta description:</label>
				<input type="text" name="meta_description" style="width: 350px;" value="{if isset($data)}{$data.meta_description|escape}{else}{$category.meta_description|escape}{/if}" />
				<label>Meta keywords:</label>
				<input type="text" name="meta_keywords" style="width: 350px;" value="{if isset($data)}{$data.meta_keywords|escape}{else}{$category.meta_keywords|escape}{/if}" />
			</div>
                        <div style="text-align: center; padding-top: 78px;"><button type="submit" class="btn btn-info btn-large" style="width: 200px;">Запази категорията</button></div>
		</div>
	</form>

{elseif isset($action) && $action == "add"}

	<ul class="nav nav-tabs">
		<li><a href="/admin/categories/show_all">Преглед на активните</a></li>
		<li class="active"><a href="/admin/categories/add">Добави нова категория</a></li>
    </ul>
		
	<form action="/admin/categories/add" method="post" style="margin: 0;">
		<input type="hidden" name="add" value="1" />		
		<legend>Добавяне на нова категория</legend>
                
		{if isset($alert_message) && $alert_message}{$alert_message}{/if}
		
		<div class="clearfix">
			<div class="pull-left" style="">
				<label>Име:</label>
				<input type="text" name="name" style="width: 350px;" value="{if isset($data)}{$data.name|escape}{/if}" />
				
                                <label>Статус:</label>
                                
                                <label class="radio inline">
					<input type="radio" name="status" value="1" {if isset($data)}{if $data.status == 1}checked="checked"{/if}{elseif !isset($data)}checked="checked"{/if} /> Active
				</label>
				
                                <label class="radio inline">
					<input type="radio" name="status" value="0" {if isset($data) && $data.status == 0}checked="checked"{/if} /> Suspend
				</label>
								
				<div style="text-align: center; padding-top: 57px;"><button type="submit" class="btn btn-info btn-large" style="width: 200px;">Добави</button></div>
                                
			</div>

			<div class="pull-left" style="margin-left: 30px; width: 370px;">
				<label>Meta Title:</label>
				<input type="text" name="meta_title" style="width: 350px;" value="{if isset($data)}{$data.meta_title|escape}{/if}" />
				<label>Meta Description:</label>
				<input type="text" name="meta_description" style="width: 350px;" value="{if isset($data)}{$data.meta_description|escape}{/if}" />
				<label>Meta Keywords:</label>
				<input type="text" name="meta_keywords" style="width: 350px;" value="{if isset($data)}{$data.meta_keywords|escape}{/if}" />
			</div>
		</div>
	</form>

{/if}

                    