<ul class="nav nav-tabs">
	<li {if $action == "view_sent" || $action == ""}class="active"{/if}><a href="/admin/emails/view_sent">Виж изпратените е-мейли</a></li>
	<li {if $action == "send"}class="active"{/if}><a href="/admin/emails/send">изпрати е-мейл</a></li>
	<li {if $action == "email_statistics"}class="active"{/if}><a href="/admin/email_statistics">Статистика</a></li>
</ul>

<style type="text/css">

table td
{
	vertical-align: middle !important;
}

</style>

<div class="clearfix">
	<h1 class="pull-left">Е-мейл статистика</h1>		
</div>

{if isset($alert_message) && $alert_message}{$alert_message}{/if}

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Относно</th>
			<th style="text-align: center;">Дата на изпращане</th>
			{foreach from=$events item=event}
				<th style="text-align: center;">{$event.name}</th>
			{/foreach}
		</tr>
	</thead>

	<tbody>
	
	{if isset($email_statistics) && $email_statistics}
		{foreach from=$email_statistics key=index item=email_stat}
		<tr>
			<td>{$index+1}</td>
			<td>{$email_stat.subject}</td>
			<td style="text-align: center;">{$email_stat.email_published}</td>
			{foreach from=$events item=event}
				<td style="text-align: center;">{$email_stat.events[$event.id]["cnt"]}</td>
			{/foreach}
		</tr>
		{/foreach}
	{else}
		<tr>
			<td colspan="9">Няма резултат!</td>
		</tr>
	{/if}
		
	</tbody>
</table>
	

{*if $action == "add"}

<form method="post" action="">
	<legend>Създай нова кампания</legend>
	<input type="hidden" name="{$action}" value="1" />
	
	{if isset($alert_message) && $alert_message}{$alert_message}{/if}
	
	<label>Име:</label>
	<input type="text" name="name" class="input-xxlarge" value="{if isset($name)}{$name|escape}{/if}" />
	<label>Описание:</label>
	<textarea name="description" class="input-xxlarge" style="height: 150px;">{if isset($description)}{$description|escape}{/if}</textarea>
	<div style="text-align: left;"><button class="btn btn-info btn-large" style="width: 200px;">Create new campaign</button></div>			
</form>

{/if*}