<ul class="nav nav-tabs">
	<li {if $action == "view_sent" || $action == ""}class="active"{/if}><a href="/admin/emails/view_sent">Виж изпратените е-мейли</a></li>
	<li {if $action == "send"}class="active"{/if}><a href="/admin/emails/send">Изпрати е-мейл</a></li>
	<li {if $action == "email_statistics"}class="active"{/if}><a href="/admin/email_statistics">Статистика</a></li>
</ul>

{if $action == "send"}
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			CKEDITOR.replace('message', { height: 400 });
		});
	</script>
	
	<legend>Изпрати е-мейл</legend>
	
	{if isset($alert_message)}{$alert_message}{/if}

	<form method="post" action="" enctype="multipart/form-data">
		<div class="clearfix">
			<div class="pull-left">
				<label>Активни клиенти:</label>
				<select name="active_clients[]" multiple="multiple" class="input-xxlarge" onchange="selectAll(this);">
				{if $active_clients.count}
					<option value="all">------------------------------------------- Избери всички -------------------------------------------</option>
					{foreach from=$active_clients.rows key=index item=client}
					<option value="{$client.id}">{$client.first_name} {$client.last_name} &lt;{$client.email}&gt;</option>
					{/foreach}
				{/if}
				</select><br />
				<label class="checkbox">
					<input type="checkbox" name="unsubscribe_link[u]" value="1" {if isset($smarty.post.unsubscribe_link.u)}checked="checked"{/if} /> Добави линк за отписване
				</label>				
			</div>
			<div class="pull-left" style="margin-left: 30px;">
				<label>Партньори:</label>
				<select name="active_affiliates[]" multiple="multiple" class="input-xxlarge" onchange="selectAll(this);">
				{if $active_affiliates}
					<option value="all">------------------------------------------- Избери всички -------------------------------------------</option>
					{foreach from=$active_affiliates key=index item=affiliate}
					<option value="{$affiliate.id}">{$affiliate.name} &lt;{$affiliate.email}&gt;</option>
					{/foreach}
				{/if}
				</select><br />
				<label class="checkbox">
					<input type="checkbox" name="unsubscribe_link[a]" value="1" {if isset($smarty.post.unsubscribe_link.a)}checked="checked"{/if} /> Добави линк за отписване
				</label>								
			</div>
		</div>
		
		<div class="space-30px"></div>
		<label>До</label>
		<input type="text" name="email_to" class="input-xxlarge" value="{if isset($email_to)}{$email_to}{/if}" /> или 
		<input type="file" name="csv_emails" /> (CSV name;email)

		<label>От</label>
		<input type="text" name="email_from" id="email_from" class="input-xxlarge" value="{if isset($email_from)}{$email_from}{/if}" /> или 
		<select name="predefined_from" id="predefined_from" class="input-xxlarge" onchange="$( 'input#email_from' ).val( $( 'select#predefined_from' ).val() );">
			<option value="">избери</option>
			{foreach from=$predefined_from item=pf}
				<option value="{$pf.value|escape}">{$pf.value|escape}</option>
			{/foreach}
		</select>

		<label>Име</label>
		<input type="text" name="name" id="name" class="input-xxlarge" value="{if isset($name)}{$name}{/if}" /> или 
		<select name="predefined_name" id="predefined_name" class="input-xxlarge" onchange="$( 'input#name' ).val( $( 'select#predefined_name' ).val() );">
			<option value="">избери</option>
			{foreach from=$predefined_name item=pf}
				<option value="{$pf.value|escape}">{$pf.value|escape}</option>
			{/foreach}
		</select>

		<label>Относно</label>
		<input type="text" name="subject" id="subject" class="input-xxlarge" value="{if isset($subject)}{$subject}{/if}" /> или 
		<select name="predefined_subject" id="predefined_subject" class="input-xxlarge" onchange="$( 'input#subject' ).val( $( 'select#predefined_subject' ).val() );">
			<option value="">избери</option>
			{foreach from=$predefined_subject item=pf}
				<option value="{$pf.value|escape}">{$pf.value|escape}</option>
			{/foreach}
		</select>
		
		<label>Text <a href="javascript: void(0);" onclick="$('div#predefined_message').slideToggle();">(кликни за избор)</a></label>
		{if isset( $predefined_message ) && is_array( $predefined_message ) && $predefined_message}
			<div class="space-5px"></div>
			<div style="display: none; height: 500px; overflow: auto; border: 1px solid #666;" id="predefined_message">
				{foreach from=$predefined_message key=index item=pf}
					<div id="predefined_message_{$index+1}" style="cursor: pointer; background-color: #fff; margin: 10px 0; padding: 5px 10px; font-size: 11px;" onclick="CKEDITOR.instances.message.setData( $( 'div#predefined_message_{$index+1}' ).html() ); $('div#predefined_message').slideToggle();">
						{$pf.value}
					</div>
				{/foreach}
			</div>
			<div class="space-5px"></div>
		{/if}
		
		<textarea name="message" class="input-xxlarge">{if isset($message)}{$message}{/if}</textarea>
		<div class="space-20px"></div>
		
		<div class="clearfix">
			<div class="pull-left">
				<label class="checkbox">
					<input type="checkbox" name="make_statistics" id="make_statistics" {if isset($make_statistics)}checked="checked"{/if} value="1" /> Пази статистика
				</label>
			
				<label>Файлове</label>
				<input type="file" name="file_1" /><br />
				<input type="file" name="file_2" /><br />
				<input type="file" name="file_3" /><br />
				<input type="file" name="file_4" /><br />
				<input type="file" name="file_5" />
			</div>
			<div class="pull-right">
				<div class="clearfix">
					<div class="pull-right"><input type="checkbox" name="use_template" value="1" /></div>
					<div class="pull-right" style="padding: 2px 5px 0 0;">Използвай темплейт</div>
				</div>
				<div class="space-20px"></div>
				<button class="btn btn-info btn-large" style="width: 200px;">Изпрати</button>
			</div>
		</div>
		<input type="hidden" name="send_email" value="1" />
	</form>

{elseif $action == "view_sent"}

	
	<div class="clearfix">
		<h1 class="pull-left">Изпратени е-мейли</h1>
		
		<div class="input-append pull-right" style="padding-top: 15px;">
			<form action="/admin/emails/view_sent" method="get" style="margin: 0;">
				<input class="input-medium" id="appendedInputButtons" size="16" type="text" name="keyword" value="{if isset($keyword) && $keyword}{$keyword}{/if}"><button class="btn" type="submit">Търсене</button>
			</form>
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center;">Име</th>
			<th style="text-align: center;">Е-мейл</th>
			<th style="text-align: center;">Относно</th>
			<th style="text-align: center;">Дата на добавяне</th>
			<th style="text-align: center;">Статус</th>
			<th style="text-align: right;">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		{if $all_emails.count > 0}
			{foreach from=$all_emails.rows key=index item=email}
			<tr>
				<td style="text-align: center;">{$email.id}</td>
				<td style="text-align: left;">{$email.from_name}</td>
				<td style="text-align: left;">{$email.from_email}</td>
				<td style="text-align: left;">{$email.subject}</td>
				<td style="text-align: center;">{$email.published}</td>
				<td style="text-align: center;"><img src="/images/admin/{if $email.status}yes{else}no{/if}.png" alt="{if $email.status}Active{else}Inactive{/if}" /></td>
				<td style="text-align: center;"><button class="btn btn-small btn-info" type="button"onclick="window.location = '/admin/emails/view/{$email.id}';"><i class="icon-info-sign icon-white"></i> Преглед</button></td>
			</tr>
			{/foreach}
		{/if}
		</tbody>
	</table>
	
	{$navigator}
	
{elseif $action == "view"}

	<h1>{$email_info.subject}</h1>
	
	<legend style="margin-bottom: 10px;">Personal info</legend>
	<div class="well">
		<table border="0" cellpadding="2" cellspacing="0" width="100%">
			<tr>
				<td width="65%">
					<strong>Sender: </strong>
					{$email_info.from_name|escape} &lt;{$email_info.from_email|escape}&gt;
				</td>
				<td>
					<strong>Published: </strong>
					{$email_info.published|date_format:"%d/%m/%Y %H:%M:%S"}
				</td>
			</tr>
			<tr>
				<td>
					<strong>Subject: </strong>
					{$email_info.subject|escape}
				</td>
				<td>
					<strong>Priority: </strong>
					{$email_info.priority}
				</td>
			</tr>
			<tr>
				<td>
					<strong>Status: </strong>
					{if $email_info.status == 0 && $email_info.tried == 5}<span class="text-error">Not sent</span>{elseif $email_info.status == 0 && $email_info.tried < 5}<span class="text-warning">Waiting</span>{elseif $email_info.status == 1}<span class="text-success">Sent</span>{/if}
				</td>
				<td>
					<strong>Attachments: </strong>
					{if isset( $email_info.attachments ) && is_array( $email_info.attachments ) && count( $email_info.attachments ) >0}
					{foreach from=$email_info.attachments key=index item=attachment}
						{if $index != 0}, {/if}
						{$attachment.file_name|escape} 
					{/foreach}
					{else}
						<span class="text-error">None</span>
					{/if}				
				</td>
			</tr>
			<tr>
				<td>
					<strong>Recipients: </strong>				
					{foreach from=$email_info.recipients key=index item=recipient}
						{if $index != 0}, {/if}
						{$recipient.recipient_name|escape} &lt;{$recipient.recipient_email|escape}&gt; {if $recipient.type == 2}(hidden copy){/if} 
					{/foreach}
				</td>
				<td>&nbsp;</td>
			</tr>			
		</table>
	</div>

	<legend style="margin-bottom: 10px;">Content</legend>
	<div class="well">{$email_info.mail_content}</div>

{/if}