<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Control Panel</title>
<meta name="description" content="www.omega-trend.com" />
<meta name="keywords" content="www.omega-trend.com" />
<meta name="Author" content="www.omega-trend.com" />
<meta name="classification" content="Internet" />
<meta name="GOOGLEBOT" content="noindex,nofollow" />
<meta name="robots" content="noindex,nofollow" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<link type="text/css" rel="stylesheet" href="/css/admin/style.css" />
<link type="text/css" rel="stylesheet" href="/css/admin/rules.css" />
<link type="text/css" rel="stylesheet" href="/js/jquery/css/ui-lightness/jquery-ui-1.8.23.custom.css" />

<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" />

<link type="text/css" rel="stylesheet" href="/css/admin/flags.css" />

<script type="text/javascript" language="javascript" src="/js/jquery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/flashmessage.js"></script>
<script type="text/javascript" language="javascript" src="/js/admin/functions.js"></script>

<script type="text/javascript" language="javascript" src="/bootstrap/js/bootstrap.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" >
	document.createElement("nav" );
	document.createElement("header" );
	document.createElement("footer" );
	document.createElement("section" );
	document.createElement("aside" );
	document.createElement("article" );
</script>
<![endif]-->

<script type="text/javascript" language="javascript">

	function chnageScreenSize(btn)
	{
	
		if ($(btn).hasClass("active"))
		{
			//$(btn).removeClass("active")
			$("div#wrapper").removeClass("full-screen");
			$.post("/admin/ajax/full_screen/off");
		}
		else
		{
			//$(btn).addClass("active")
			$("div#wrapper").addClass("full-screen");
			$.post("/admin/ajax/full_screen/on");
		}
	}
		
	function setFullScreenOn()
	{
		$("div#wrapper").addClass("full-screen");
		$("button#full_screen_switch").addClass("active");
	}
	
	$(document).ready(function() {ldelim}

		{if isset($smarty.cookies.full_screen) && $smarty.cookies.full_screen == 1}
			setFullScreenOn();
		{/if}

	{rdelim});
	
	
</script>

{$flash_message}

</head>