<footer>
	<div class="content">
		<ul class="nav nav-pills pull-left">
					
			<li><a href="/admin">Начало</a></li>
			
			<li>
				<a href="/admin/users" data-toggle="dropdown" class="dropdown-toggle">Потребител</a>
			</li>
			
                        <li><a href="/admin/affiliates">Партньорска програма</a></li>
			
			<li>
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Е-мейли</a>
			</li>
			
			
			<li><a href="/admin/statistics">Статистика</a></li>
			
			<li><a href="/admin/support">Поддръжка</a></li>
			
			<li><a href="/admin/users/logout">Изход</a></li>
			
		</ul>  
		
		<div class="pull-right" style="padding-top: 5px;">Copyright © 2013 Best Discounts Here. All rights reserved. <a href="http://www.helfulbg.com" title="Helpful Bulgaria">www.helpfulbg.com</a></div>
	</div>
</footer>
