<header>
	<div class="content">
		<div class="clearfix">
		<div class="logo pull-left" style="padding: 20px 0 0 0; height: 60px;">
			<a href="/admin"><span style="font-size: 36px;">Helpful Bulgaria</span></a>
		</div>
		<div class="screen-buttons pull-right">
			<button class="btn btn-small" type="button" data-toggle="button" id="full_screen_switch" onclick="chnageScreenSize(this);"><i class="icon-fullscreen"></i> На цял екран</button>
		</div>
		</div>
		<div class="main-menu">	
			<ul class="nav nav-pills">
				
				<li class="{if $controller == '' || $controller == 'home'}active{/if}"><a href="/admin"><i class="icon-home"></i> Начало</a></li>
				
				<li class="{if $controller == 'users'}active {/if}dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-user"></i> Потребители <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/users/add"><i class="icon-plus"></i> Добави нов потребител</a></li>
						<li class="divider"></li>
						<li><a href="/admin/users/customers"><i class="icon-ok"></i> Клиенти</a></li>
						<li><a href="/admin/users/inactive_customers"><i class="icon-remove"></i> Неактивни клиенти</a></li>
						<li><a href="/admin/users/administrators"><i class="icon-user"></i> Администратори</a></li>
					</ul>
				</li>
				
                                <li class="{if $controller == 'categories'}active {/if}dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-folder-open"></i> Категории <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/categories/add"><i class="icon-plus"></i> Добавяне на нова категория</a></li>
						<li class="divider"></li>
						<li><a href="/admin/categories/show_all"><i class="icon-ok"></i> Преглед на категории</a></li>
						<!--
                                                <li><a href="/admin/users/inactive_customers"><i class="icon-remove"></i> Inactive Customers</a></li>
						<li><a href="/admin/users/administrators"><i class="icon-user"></i> Administrators</a></li> -->
					</ul>
				</li>
                                
				<li class="{if $controller == 'affiliates'}active {/if}dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-briefcase"></i> Продукти <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/products/add"><i class="icon-plus"></i> Добавяне на нов продукт</a></li>
						<li class="divider"></li>
						<li><a href="/admin/products/show_all"><i class="icon-list"></i> Всички продукти</a></li>
					</ul>					
				</li>
				
				<li class="{if $controller == 'emails'}active {/if}dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-envelope"></i> E-мейли <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/emails/send"><i class="icon-edit"></i> Изпрати е-маил</a></li>
						<li><a href="/admin/emails/view_sent"><i class="icon-check"></i> Преглед на е-мейли</a></li>
						<li class="divider"></li>
						<li><a href="/admin/email_statistics"><i class="icon-list"></i> Преглед на статистика за мейлите</a></li>
					</ul>
				</li>
				
				
				
				<li class="{if $controller == 'statistics'}active{/if}"><a href="/admin/statistics"><i class="icon-signal"></i> Статистика</a></li>
				
				<li class="{if $controller == 'support'}active{/if}"><a href="/admin/support"><i class="icon-question-sign"></i> Поддръжка</a></li>
				
									
				
				<li><a href="/admin/users/logout"><i class="icon-off"></i> Изход</a></li>
				
			</ul>
		</div>
	</div>
</header>
