{if isset($action) && ($action == "show_all")}

    <ul class="nav nav-tabs">
		<li {if $action == "show_all"}class="active"{/if}><a href="/admin/products/show_all">Преглед на всички</a></li>
		<li><a href="/admin/products/add">Добави нов продукт</a></li>
    </ul>
	
	{if $action == "show_all"}
		<h1 class="pull-left">Преглед на всички</h1>
	{/if}
	
	<div class="input-append pull-right" style="padding-top: 15px;">
		<form action="/admin/products/{$action}" method="get" style="margin: 0;">
			<input class="input-medium" id="appendedInputButtons" size="16" type="text" name="keyword" value="{if isset($keyword) && $keyword}{$keyword}{/if}"><button class="btn" type="submit">Търсене</button>
		</form>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
			<th class="w25px center">#</th>
			<th class="center">Заглавие</th>
			<th class="w140px center">Дата на добавяне</th>
                        <th class="w140px center">Последна промяна</th>
			<th class="w160px center">&nbsp;</th>
			</tr>
		</thead>
	
		<tbody>
		
		{if isset($products) && $products}
			{assign var="products_cnt" value=$num_products}
			{foreach from=$products key=index item=product}
				<tr id="row_product_{$product.id}" {if $product.status == 0}class="error"{elseif date('Y-m-d') == $product.published|date_format:"%Y-%m-%d"}class="success"{/if}>
                                
					<td class="center">{$products_cnt-$offset}</td>
					<td>{$product.title}</td>
					<td class="center">{$product.published}</td>
                                        <td class="center">{if $product.modified == ""} - {else} {$product.modified} {/if}</td>
					<td class="right" style="width:230px;">
                                                <button class="btn btn-small" onclick="var win = window.open('/product/{$product.id}', '_blank'); win.focus();"><i class="icon-play"></i></button>
						<button class="btn btn-small btn-info" type="button"onclick="window.location = '/admin/products/edit/{$product.id}';"><i class="icon-edit icon-white"></i> Промени</button>&nbsp;&nbsp;
						<button class="btn btn-small btn-danger" type="button" onclick="delete_product('{$product.id}');"><i class="icon-remove icon-white"></i> Изтрий</button>
                                        </td>
				</tr>
				{assign var="products_cnt" value=$products_cnt-1}
			{/foreach}
		{else}
			<tr>
				<td colspan="5">Няма резултат!</td>
			</tr>
		{/if}
			
		</tbody>
	</table>
	
	
	{literal}
	<script type="text/javascript" language="javascript">
	
		$(document).ready(function() {

			$('i.user-comment').tooltip({placement: "right"});
		});
		
	</script>
	{/literal}

	{$navigator}

	{*<div class="pagination pagination-centered">
		<ul>
			<li class="previous"><a href="#">&larr; Първа</a></li>
			<li><a href="#">«</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">»</a></li>
			<li class="next"><a href="#">Последна &rarr;</a></li>
		</ul>
	</div>*}

{elseif isset($action) && $action == "edit"}
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
                CKEDITOR.replace('s_description', { height: 150});
                CKEDITOR.replace('f_description', { height: 400});
                
                $('#false_file').click(function(){
                    $("#file_id").click();
                });
        });
</script>
	<ul class="nav nav-tabs">
		<li><a href="/admin/products/show_all">Преглед на всички</a></li>
		<li><a href="/admin/products/add">Добави нов продукт</a></li>
    </ul>
		
	<form action="/admin/products/edit/{$product.id}" enctype="multipart/form-data" method="post" style="margin: 0;">
		<input type="hidden" name="save" value="1" />		
		<legend>Product {$product.title|escape}</legend>
                <input type="file" name="file_id" id="file_id" style="display:none;">
		{if isset($alert_message) && $alert_message}{$alert_message}{/if}
		
		<div class="clearfix">
			<div class="span3 pull-left">
                            <a href="{$product_image.full_path}" target="_blank">
                                <img alt="{$product_image.file_name}" src="{$product_image.full_path}" style="display:block; margin-bottom:3px;" />
                            </a>
                            <button type="button" id="false_file" class="btn btn-small btn-inverse">{if $product.file_id > 0}<i class="icon-refresh icon-white"></i> Смени снимката{else}<i class="icon-plus icon-white"></i> Добави снимка{/if}</button> 
			</div>
			
                        <div class="span3 pull-left">
				<label>Заглавие:</label>
				<input type="text" class="w98percent" name="title" value="{if isset($data)}{$data.title|escape}{else}{$product.title|escape}{/if}" />
                               
                                <label>URL:</label>
                                <input type="text" class="w98percent" name="url" disabled="disabled" value="{if isset($data)}{$data.url|escape}{else}{$product.url|escape}{/if}" />
                                
                                <label class="clearfix">
                                    <label>Статус:</label>
                                    <span class="pull-right">
                                            {if $product.status == 1}<span class="label label-success" id="product_status">Активен</span>{else}<span class="label label-important" id="product_status">Неактивен</span>{/if} 
                                            <button type="button" class="btn btn-small btn-info" onclick="changeProductStatus('{$product.id}');"><i class="icon-refresh icon-white"></i> Смени</button>
                                    </span>
				</label> 
			</div>
			<div class="span3 pull-left">
                                <label>Meta title:</label>
				<input type="text" class="w98percent" name="meta_title" value="{if isset($data)}{$data.meta_title|escape}{else}{$product.meta_title|escape}{/if}" />
				<label>Meta description:</label>
				<input type="text" class="w98percent" name="meta_description" value="{if isset($data)}{$data.meta_description|escape}{else}{$product.meta_description|escape}{/if}" />
				<label>Meta keywords:</label>
				<input type="text" class="w98percent" name="meta_keywords" value="{if isset($data)}{$data.meta_keywords|escape}{else}{$product.meta_keywords|escape}{/if}" />
			</div>
                        <div class="span3 pull-left">
				<label>Добавяне / Премахване на категории</label>
				<select class="w98percent" name="categories[]" style="height:160px;" multiple="multiple">
                                {$categories_list}    
                                </select>
			</div>
                </div>
                <br />
                <label>Кратко описание</label>
                <textarea name="s_description" class="input-xxlarge">{if isset($data)}{$data.short_description|escape}{else}{$product.short_description|escape}{/if}</textarea>
		<br />
                <br />
                <label>Пълно описание</label>
                <textarea name="f_description" class="input-xxlarge">{if isset($data)}{$data.description|escape}{else}{$product.description|escape}{/if}</textarea>
                <div class="clearfix">
                    <div class="span4" style="padding-top: 10px;"><a href="#myModal" role="button" data-toggle="modal" class="btn btn-info btn-large" style="width: 200px;" onclick="load_product_options({$product.id});"><i class="icon-tags icon-white"></i> Атрибути</a></div>
                    <div class="span4" style="padding-top: 10px;">
                        <label class="clearfix">Създаден: <span class="label label-info pull-right">{$product.published}</span></label>
                        <label class="clearfix">Променен: <span class="label pull-right">{if $product.modified}{$product.modified}{else}no info{/if}</span></label>
                    </div>
                    <div class="span4 right" style="padding-top: 10px;"><button type="submit" class="btn btn-info btn-large" style="width: 200px;"><i class="icon-ok icon-white"></i> Запази</button></div>
                </div>              
	</form>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><span class="btn btn-info" onclick="prepare_insert_option();"><i class="icon-plus icon-white"></i></span> Атрибути</h3>
            </div>
            <div class="modal-body">
                <div id="response_div" class="alert alert-success hide"></div> 
                <table class="table table-striped" id="load_result" border="1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Заглавие</th>
                            <th class="w160px">Промяна</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div id="add_edit_form" style="display:none !important;">
                    <h5><u id="action_title">Вмъкване на атрибут</u></h5>
                    <form id="options_form">
                        <div class="span6 left">
                                <label class="clearfix"> Заглавие <input type="text" name="option_title" class="w98percent" /></label>
                                <label class="clearfix"> URL за купуване: <input type="text" name="url_b" class="w98percent" /></label>
                                <label class="clearfix"> Цена: <input type="text" name="price_now" class="w98percent" /></label>
                                <label class="clearfix"> Намаление: <input type="text" name="discount" class="w98percent" /></label>
                        </div>
                        <div class="span6 left">
                            <label class="clearfix"> Описание: <input type="text" name="descr" class="w98percent" /></label>
                            <label class="clearfix"> URL за преглед: <input type="text" name="url_v" class="w98percent" /></label>
                            <label class="clearfix"> Стара цена: <input type="text" name="price_old" class="w98percent" /></label>
                            <label class="clearfix"> Купон за отстъпка: <input type="text" name="coupon" class="w98percent" /></label>
                        </div>
                        <input type="hidden" name="id" />
                        <input type="hidden" name="product_id" value="{$product.id}" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add_edit_form_cancel" style="display: none !important;" class="btn" onclick="cancel_form_option();">Откажи</button>
                <button id="add_edit_form_submit" style="display: none !important;" class="btn btn-primary" onclick="insert_update_option();">Запази</button>
            </div>
        </div>
{elseif isset($action) && $action == "add"}
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
                CKEDITOR.replace('s_description', { height: 150});
                CKEDITOR.replace('f_description', { height: 400});
        });
</script>
	<ul class="nav nav-tabs">
		<li><a href="/admin/products/show_all">Преглед на всички</a></li>
		<li class="active"><a href="/admin/products/add">Добави нов продукт</a></li>
    </ul>
		
	<form action="/admin/products/add" method="post" style="margin: 0;">
		<input type="hidden" name="add" value="1" />		
		<legend>Добави нов продукт</legend>
                
		{if isset($alert_message) && $alert_message}{$alert_message}{/if}
		
		<div class="clearfix">
			<div class="span4 pull-left">
				<label>Заглавие:</label>
				<input type="text" class="w98percent" name="title" value="{if isset($data)}{$data.title|escape}{/if}" />
				
                                <label>URL:</label>
                                <input type="text" class="w98percent" name="url" disabled="disabled" value="{if isset($data)}{$data.url|escape}{/if}" />
			
                                <label>Статус:</label>
                                    <label class="radio inline">
                                            <input type="radio" name="status" value="1" {if isset($data)}{if $data.status == 1}checked="checked"{/if}{elseif !isset($data)}checked="checked"{/if} /> Active
                                    </label>
                                    <label class="radio inline">
                                            <input type="radio" name="status" value="0" {if isset($data) && $data.status == 0}checked="checked"{/if} /> Suspend
                                    </label>
			</div>

			<div class="span4 pull-left">
				<label>Meta Title:</label>
				<input type="text" class="w98percent" name="meta_title" value="{if isset($data)}{$data.meta_title|escape}{/if}" />
				
                                <label>Meta Description:</label>
				<input type="text" class="w98percent" name="meta_description" value="{if isset($data)}{$data.meta_description|escape}{/if}" />
				
                                <label>Meta Keywords:</label>
				<input type="text" class="w98percent" name="meta_keywords" value="{if isset($data)}{$data.meta_keywords|escape}{/if}" />
			</div>
                    
                        <div class="span4 pull-left">
				<label>Добавяне / Премахване на категория</label>
				<select class="w98percent" name="categories[]" style="height:160px;" multiple="multiple">
                                {$categories_list}    
                                </select>
			</div>
              
                </div>
                <br />
                <label>Кратко описание</label>
                <textarea name="s_description" class="input-xxlarge">{if isset($data)}{$data.short_description|escape}{/if}</textarea>
		<br />
                <br />
                <label>Пълно описание</label>
                <textarea name="f_description" class="input-xxlarge">{if isset($data)}{$data.description|escape}{/if}</textarea>
		<div style="text-align: center; padding-top: 10px;"><button type="submit" class="btn btn-info btn-large" style="width: 200px;">Добави продукта</button></div>
	</form>

{/if}

                    