<h1 class="pull-left">Statistics</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th style="text-align: center;">Period</th>
			<th style="text-align: center;">New customers</th>
			{foreach from=$otea_contracts item=contract}
			<th style="text-align: center;">{$contract.product_code}</th>
			<th style="text-align: center;">{$contract.product_code} Refunds</th>
			{/foreach}
			<th style="text-align: center;">RegNow Sales</th>
			<th style="text-align: center;">RegNow Refunds</th>
			<th style="text-align: center;">Total Sales</th>
			<th style="text-align: center;">Total Refunds</th>
		</tr>
	</thead>
	<tbody>
	{foreach from=$results key=year item=months}
		<tr class="success">
			<td style="text-align: center;" colspan="{($otea_contracts_count*2)+6}">{$year}</td>
		</tr>
		{foreach from=$months key=month item=stat}
		<tr>
			<td style="text-align: center;">{$month}</td>
			<td style="text-align: center;">{$stat.new_customers}</td>
			{foreach from=$otea_contracts item=contract}
			<td style="text-align: center;">{$stat['contracts_results'][$contract.id]['sales']}</td>
			<td style="text-align: center;">{$stat['contracts_results'][$contract.id]['refunds']}</td>
			{/foreach}
			<td style="text-align: center;">{$stat.regnow_sales}</td>
			<td style="text-align: center;">{$stat.regnow_refunds}</td>
			<td style="text-align: center;">{$stat.total_sales}</td>
			<td style="text-align: center;">{$stat.total_refunds}</td>
		</tr>
		{/foreach}
	{/foreach}
	</tbody>
</table>	