{if isset($action) && $action == "login"}
	<div id="login" class="span4">
	
		<form action="/admin/users/login" method="post" class="clearfix" style="margin: 0;">
			<legend>CONTROL PANEL</legend>
			
			{if isset($error) && $error}
				<div class="alert alert-error">
					<button data-dismiss="alert" class="close" type="button">×</button>
					{$error}
				</div>
			{/if}
			
			<input type="hidden" name="redirect" value="{if isset($redirect) && $redirect}{$redirect}{/if}" />
	
			<input type="text" name="email" placeholder="email" class="span4" />
			<input type="password" name="password" placeholder="password" class="span4" />
			
			<label class="checkbox">
				<input type="checkbox" name="remember_me" id="remember_me" value="1" /> Запомни ме
			</label>
			
			<input type="submit" name="login" value="Вход" class="btn btn-info pull-right" />
			
		</form>
	</div>

{elseif isset($action) && ($action == "customers" || $action == "inactive_customers" || $action == "administrators")}

    <ul class="nav nav-tabs">
		<li {if $action == "customers"}class="active"{/if}><a href="/admin/users/customers">Клиенти</a></li>
		<li {if $action == "inactive_customers"}class="active"{/if}><a href="/admin/users/inactive_customers">Неактивни клиенти</a></li>
		<li {if $action == "administrators"}class="active"{/if}><a href="/admin/users/administrators">Администратори</a></li>
		<li><a href="/admin/users/add">Добави нов потребител</a></li>
    </ul>
	
	{if $action == "customers"}
		<h1 class="pull-left">Клиенти</h1>
	{elseif $action == "inactive_customers"}
		<h1 class="pull-left">Неактивни клиенти</h1>
	{else}
		<h1 class="pull-left">Администратори</h1>
	{/if}
	
	<div class="input-append pull-right" style="padding-top: 15px;">
		<form action="/admin/users/{$action}" method="get" style="margin: 0;">
			<input class="input-medium" id="appendedInputButtons" size="16" type="text" name="keyword" value="{if isset($keyword) && $keyword}{$keyword}{/if}"><button class="btn" type="submit">Търсене</button>
		</form>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
			<th style="text-align: center;">#</th>
			<th style="text-align: center; padding-left: 0; padding-right: 0;">&nbsp;</th>
			<th style="text-align: left;">Име</th>
			<th style="text-align: left;">Фамилия</th>
			<th style="text-align: left;">Е-мейл</th>
			<th style="text-align: center;">&nbsp;</th>
			<th style="text-align: center;">Дата на добавяне</th>
			<th style="text-align: right;">&nbsp;</th>
			</tr>
		</thead>
	
		<tbody>
		
		{if isset($users) && $users}
			{assign var="clients_cnt" value=$num_users}
			{foreach from=$users key=index item=user}
				<tr id="row_user_{$user.id}" {if $user.is_affiliate == 1}class="error"{elseif date('Y-m-d') == $user.published|date_format:"%Y-%m-%d"}class="success"{/if}>
					<td style="text-align: center;">{$clients_cnt-$offset}</td>
					<td  style="text-align: center; padding-left: 0; padding-right: 0;">
						{if strlen( $user.comment ) > 0}
							<i class="icon-comment icon-red user-comment" id="user_comment_{$user.id}" title="{$user.comment|escape}" onclick="addEditUserComment('{$user.id}');"></i>
						{else}
							<i class="icon-comment user-comment" id="user_comment_{$user.id}" title="Click to add comment!" onclick="addEditUserComment('{$user.id}');"></i>
						{/if}
					</td>
					<td style="text-align: left;">{$user.first_name}</td>
					<td style="text-align: left;">{$user.last_name}</td>
					<td style="text-align: left;">{$user.email}</td>
					<td style="text-align: center;"><div class="{if $user.country}flag flag-{$user.country|lower}{/if}"></div></td>
					<td style="text-align: center;">{$user.published}</td>
					<td style="text-align: right;">
						<button class="btn btn-small btn-info" type="button"onclick="window.location = '/admin/users/edit/{$user.id}';"><i class="icon-edit icon-white"></i> Промени</button>&nbsp;&nbsp;
						<button class="btn btn-small btn-danger" type="button" onclick="delete_user('{$user.id}');"><i class="icon-remove icon-white"></i> Изтрий</button></td>
				</tr>
				{assign var="clients_cnt" value=$clients_cnt-1}
			{/foreach}
		{else}
			<tr>
				<td colspan="8">Няма резултат!</td>
			</tr>
		{/if}
			
		</tbody>
	</table>
	
	
	{literal}
	<script type="text/javascript" language="javascript">
	
		$(document).ready(function() {

			$('i.user-comment').tooltip({placement: "right"});
		});
		
	</script>
	{/literal}

	{$navigator}

	{*<div class="pagination pagination-centered">
		<ul>
			<li class="previous"><a href="#">&larr; Първа</a></li>
			<li><a href="#">«</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">»</a></li>
			<li class="next"><a href="#">Последна &rarr;</a></li>
		</ul>
	</div>*}

{elseif isset($action) && $action == "edit"}

	<ul class="nav nav-tabs">
		<li><a href="/admin/users/customers">Клиенти</a></li>
		<li><a href="/admin/users/inactive_customers">Неактивни клиенти</a></li>
		<li><a href="/admin/users/administrators">Администратори</a></li>
		<li><a href="/admin/users/add">Добави нов потребител</a></li>
    </ul>
		
	<form action="/admin/users/edit/{$user.id}" method="post" style="margin: 0;">
		<input type="hidden" name="save" value="1" />		
		<legend>{$user.first_name|escape} {$user.last_name|escape}'s profile</legend>
		
		{if isset($alert_message) && $alert_message}{$alert_message}{/if}
		
		<div class="clearfix">
			<div class="pull-left" style="">
				<label>Име:</label>
				<input type="text" name="first_name" style="width: 350px;" value="{if isset($data)}{$data.first_name|escape}{else}{$user.first_name|escape}{/if}" />
				<label>Фамилия:</label>
				<input type="text" name="last_name" style="width: 350px;" value="{if isset($data)}{$data.last_name|escape}{else}{$user.last_name|escape}{/if}" />
				<label>Държава:</label>
				<input type="text" name="country" style="width: 350px;" value="{if isset($data)}{$data.country|escape}{else}{$user.country|escape}{/if}" />
				<label>Град:</label>
				<input type="text" name="city" style="width: 350px;" value="{if isset($data)}{$data.city|escape}{else}{$user.city|escape}{/if}" />
				<label>ПК:</label>
				<input type="text" name="post_code" style="width: 350px;" value="{if isset($data)}{$data.post_code|escape}{else}{$user.post_code|escape}{/if}" />
				<label>Адрес</label>
				<textarea name="address" style="width: 350px;">{if isset($data)}{$data.address|escape}{else}{$user.address|escape}{/if}</textarea>
			</div>
			<div class="pull-left" style="margin-left: 30px;">
				<label>Е-мейл:</label>
				<input type="text" name="email" style="width: 350px;" value="{if isset($data)}{$data.email|escape}{else}{$user.email|escape}{/if}" />
				<label>Допълнителен е-мейл:</label>
				<input type="text" name="additional_email" style="width: 350px;" value="{if isset($data)}{$data.additional_email|escape}{else}{$user.additional_email|escape}{/if}" />
				<label>Телефон</label>
				<input type="text" name="phone" style="width: 350px;" value="{if isset($data)}{$data.phone|escape}{else}{$user.phone|escape}{/if}" />
				<label>Референт:</label>
				<input type="text" name="referrer" style="width: 350px;" value="{if isset($data)}{$data.referrer|escape}{else}{$user.referrer|escape}{/if}" />
				<label>Фирма:</label>
				<input type="text" name="company" style="width: 350px;" value="{if isset($data)}{$data.company|escape}{else}{$user.company|escape}{/if}" />
				<label>Коментар:</label>
				<textarea name="comment" style="width: 350px;">{if isset($data)}{$data.comment|escape}{else}{$user.comment|escape}{/if}</textarea>
			</div>
			<div class="pull-left" style="margin-left: 30px; width: 370px;">
				<label>Парола:</label>
				<input type="password" name="password" style="width: 350px;" value="" />
				<br /><br />
				<label class="clearfix">
					Статус: 
					<span class="pull-right">
						{if $user.status == 1}<span class="label label-success" id="user_status">Active</span>{else}<span class="label label-important" id="user_status">Неактивен</span>{/if} 
						<button type="button" class="btn btn-small btn-info" onclick="changeUserStatus('{$user.id}');"><i class="icon-refresh icon-white"></i> Смени</button>
					</span>
				</label>
				
				<label class="clearfix">Създаден на: <span class="label label-info pull-right">{$user.published}</span></label>
				<label class="clearfix">Последно влизане: <span class="label pull-right">{if $user.last_login}{$user.last_login}{else}no info{/if}</span></label>
				<label class="clearfix">IP Аддрес:</label>
				<label class="checkbox">
					<input type="checkbox" name="is_affiliate" value="1" {if isset($data)}{if $data.is_affiliate == 1}checked="checked"{/if}{else}{if $user.is_affiliate == 1}checked="checked"{/if}{/if} /> Партньор
				</label>
				<label class="checkbox">
					<input type="checkbox" name="newsletter" value="1" {if isset($data)}{if $data.newsletter == 1}checked="checked"{/if}{else}{if $user.newsletter == 1}checked="checked"{/if}{/if} /> Бюлетин
				</label>
				<br /><br />
				<div style="text-align: center; padding-top: 78px;"><button type="submit" class="btn btn-info btn-large" style="width: 200px;">Запази</button></div>
			</div>
		</div>
	</form>

{elseif isset($action) && $action == "add"}

	<ul class="nav nav-tabs">
		<li><a href="/admin/users/customers">Клиенти</a></li>
		<li><a href="/admin/users/inactive_customers">Неактивни клиенти</a></li>
		<li><a href="/admin/users/administrators">Администратори</a></li>
		<li class="active"><a href="/admin/users/add">Добави нов потребител</a></li>
    </ul>
		
	<form action="/admin/users/add" method="post" style="margin: 0;">
		<input type="hidden" name="add" value="1" />		
		<legend>Добавяне на нов потребител</legend>
		
		{if isset($alert_message) && $alert_message}{$alert_message}{/if}
		
		<div class="clearfix">
			<div class="pull-left" style="">
				<label>Име:</label>
				<input type="text" name="first_name" style="width: 350px;" value="{if isset($data)}{$data.first_name|escape}{/if}" />
				<label>Фамилия:</label>
				<input type="text" name="last_name" style="width: 350px;" value="{if isset($data)}{$data.last_name|escape}{/if}" />
				<label>Държава:</label>
				<input type="text" name="country" style="width: 350px;" value="{if isset($data)}{$data.country|escape}{/if}" />
				<label>Град:</label>
				<input type="text" name="city" style="width: 350px;" value="{if isset($data)}{$data.city|escape}{/if}" />
				<label>ПК:</label>
				<input type="text" name="post_code" style="width: 350px;" value="{if isset($data)}{$data.post_code|escape}{/if}" />
				<label>Адрес:</label>
				<textarea name="address" style="width: 350px;">{if isset($data)}{$data.address|escape}{/if}</textarea>
			</div>
			<div class="pull-left" style="margin-left: 30px;">
				<label>Е-мейл:</label>
				<input type="text" name="email" style="width: 350px;" value="{if isset($data)}{$data.email|escape}{/if}" />
				<label>Допълнителен е-мейл:</label>
				<input type="text" name="additional_email" style="width: 350px;" value="{if isset($data)}{$data.additional_email|escape}{/if}" />
				<label>Телефон:</label>
				<input type="text" name="phone" style="width: 350px;" value="{if isset($data)}{$data.phone|escape}{/if}" />
				<label>Референт:</label>
				<input type="text" name="referrer" style="width: 350px;" value="{if isset($data)}{$data.referrer|escape}{/if}" />
				<label>Фирма:</label>
				<input type="text" name="company" style="width: 350px;" value="{if isset($data)}{$data.company|escape}{/if}" />
				<label>Коментар:</label>
				<textarea name="comment" style="width: 350px;">{if isset($data)}{$data.comment|escape}{/if}</textarea>
			</div>
			<div class="pull-left" style="margin-left: 30px; width: 370px;">
				<label>Парола:</label>
				<input type="password" name="password" style="width: 350px;" value="" />
				
				
				
				<br /><br />
				<label class="checkbox inline">
					<input type="checkbox" name="status" value="1" {if isset($data)}{if $data.status == 1}checked="checked"{/if}{else}checked="checked"{/if} /> Активен
				</label>
				<label class="checkbox inline">
					<input type="checkbox" name="is_affiliate" value="1" {if isset($data) && $data.is_affiliate == 1}checked="checked"{/if} /> Партньор
				</label>
				<label class="checkbox inline">
					<input type="checkbox" name="newsletter" value="1" {if isset($data)}{if $data.newsletter == 1}checked="checked"{/if}{else}checked="checked"{/if} /> Бюлетин
				</label>
				
				<br /><br />
				<label class="radio inline">
					<input type="radio" name="user_type" value="2" {if isset($data)}{if $data.user_type == 2}checked="checked"{/if}{elseif !isset($data)}checked="checked"{/if} /> Клиент
				</label>
				<label class="radio inline">
					<input type="radio" name="user_type" value="1" {if isset($data) && $data.user_type == 1}checked="checked"{/if} /> Администратор
				</label>
								
								
				<div style="text-align: center; padding-top: 57px;"><button type="submit" class="btn btn-info btn-large" style="width: 200px;">Добави потребител</button></div>
			</div>
		</div>
	</form>

{/if}

                    