body 
{
	background-image: url(/images/admin/backgrounds/background_1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

div#wrapper
{
	padding: 0;
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

div.full-screen
{
	width: 95% !important;
}

header
{
	padding: 0;
	margin: 0;
	height: 150px;
	width: 100%;
	background-color: #fff;
	
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	-webkit-box-shadow: 0 0 10px #666;
	-moz-box-shadow:    0 0 10px #666;
	box-shadow:         0 0 10px #666;
}

header div.content
{
	padding: 20px;
	margin: 0;
}

header div.logo
{
	padding: 0;
	margin: 0;
	height: 80px;
}

header div.main-menu
{
	padding: 0;
	margin: 0;
}

footer
{
	padding: 0;
	margin: 0;
	height: 50px;
	width: 1200px;
	background-color: #fff;
	
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	
	-webkit-box-shadow: 0 0 10px #666;
	-moz-box-shadow:    0 0 10px #666;
	box-shadow:         0 0 10px #666;
	position: fixed;
	bottom: 0;
}

div.full-screen footer
{
	width: 95% !important;
}

footer div.content
{
	padding: 10px 15px;
}

section#page-content
{
	padding: 15px;
	margin: 25px 0 75px 0;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #666;
	-moz-box-shadow:    0 0 10px #666;
	box-shadow:         0 0 10px #666;
}

/*---------------------- Login ----------------------*/

div#login
{
	padding: 15px;
	margin: 100px auto 0 auto;
	float: none;
	background-color: #F7F7F9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #666;
	-moz-box-shadow:    0 0 10px #666;
	box-shadow:         0 0 10px #666;
}

/*---------------------- Prouct status legend ----------------------*/

div.product-status-legend
{
	padding: 10px 0 10px 30px;
	margin: 0;
}

div.product-status-legend .legend
{
	padding: 0;
	margin: 0;
	float: left;
	width: 140px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
}

div.product-status-legend .legend span
{
	padding: 0;
	margin: 0;
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid #B9BABB;
}

div.product-status-legend .legend span.new
{
	background-color: 
}

div.product-status-legend .legend span.new
{
	background-color: #fbffc2;
}
div.product-status-legend .legend span.active
{
	background-color: #80ffad;
}
div.product-status-legend .legend span.pending
{
	background-color: #ffc6c6;
}
div.product-status-legend .legend span.closed
{
	background-color: #f3f3f3;
}

div.product-status-legend .legend span.text
{
	padding: 2px 0 0 10px;
	margin: 0;
	float: left;
	height: auto;
	width: auto;
	border: none;
}


div.contract-info
{
	padding: 2px 5px;
	margin: 2px 0;
	font-size: 11px;
}