Dear {$name},

Thank you for choosing Omega Trend EA. 

You can access the download section of our website from the link below:
<a href="http://www.omega-trend.com/users/login">http://www.omega-trend.com/users/login</a>

Your Order ID: {$order_id}

Please use your Email and Order ID to access it. 
After this, you will be able to download Omega Trend EA, install it and activate it.
Complete information about the full process can be found in our User Guide, which is also accessible in the download section.

If you have any questions, just contact us!


{$smarty.const.MAIL_SIGNATURE}


{*Dear {$name},

We are glad to offer you free test copies of our forex products: Omega Trend EA and Omega Trend Indicator.

You can download Omega Trend EA and Omega Trend Indicator here: 

<a href="http://www.omega-trend.com/users/login">http://www.omega-trend.com/users/login</a>

Your login: use your email address
Your Order ID: {$order_id}

You will be able to activate 2 REAL and 2 DEMO accounts.

We will be pleased to cooperate with valuable affiliate specialists like you!

If you have any questions or concerns, please contact us.

{$smarty.const.MAIL_SIGNATURE}
*}