{if isset( $mail_type ) && $mail_type == "new_ticket"}
Dear {$name}

{$content}

To reply to this message please use the following direct access link to Support page of your account.
Direct link: <a href="{$link}">{$link}</a>

{$smarty.const.MAIL_SIGNATURE}

{elseif isset( $mail_type ) && $mail_type == "new_comment"}

Dear {$name}

{$content}

To reply to this message please use the following direct access link to Support page of your account.
Direct link: <a href="{$link}">{$link}</a>

{$smarty.const.MAIL_SIGNATURE}

{elseif isset( $mail_type ) && $mail_type == "new_comment_anonymous"}

Dear {$name}

Here is the answer of your question/problem:

{$content}

{$smarty.const.MAIL_SIGNATURE}

{/if}